/* PAGE PRINCIPAL */

/* Div1 */

#div1
{
	color: white;
	font-weight: bold;
	width:100%;
	background-color: black;
	height: 20vh;
	font-size: 1.2em;
}

.nm_beauty
{
	margin-left: 10% ;
	font-size: 200% ;
}

.maquillage_pro
{
	margin-left: 9% ;
}

.img_boules
{
	width: 2% ;
	height: 25% ;
}

.recherche
{
	text-align : center;
	font-weight: bold;
	margin-left: 70%;
	width: 25% ;
	height: 20% ;
}

/* Div2 */

.img_pub
{
	width: 80% ;
	height: 30% ;
	margin-right: 10% ;
	margin-left: 10% ;
}

/* Div3 */

#div3
{
	font-weight: bold ;
}

.division
{
	column-count: 3 ;
}

.img_cadeau
{
	width: 280px ;
	height: 350px ;
	margin-left: 10% ;
}

.img_maquillage
{
	width: 280px ;
	height: 350px ;
	margin-left: 5% ;
}

.img_rouges_levres
{
	width: 280px ;
	height: 350px ;
	margin-right: 10% ;
}


/* Div4 */

#div4
{
	font-weight: bold ;
}


/* Div5 */

.division
{
	column-count: 3 ;
}

.img_sauvage
{
	width: 200px ;
	height: 300px ;
	border-radius : 50% ;
	margin-left: 55% ;
}

.img_chanel
{
	width: 200px ;
	height: 300px ;
	border-radius : 50% ;
	margin-left: 40% ;
}

.img_dior
{
	width: 200px ;
	height: 300px ;
	border-radius : 50% ;
	margin-right: 50% ;
}


/* Div6 */

#div6
{
	font-weight: bold ;
}


/* Div7 */

#div7
{
	width:100%;
	background-color: black;
}


/* PAGE PARFUM SAUVAGE */

/* Div8 */

#div8
{
	text-align : center;
	font-family: Fantasy ;
	color: white;
	font-weight: bold;
	background-color: black;
	height: 4vh;
	font-size: 1.2em;
}

/* Div9 */

.parfum_sauvage
{
	float: left ;
	width: 30% ;
	border-top: solid ;
	border-bottom: solid ;
	border-left: solid ;
	border-right: solid ;
	border-color: white ;
}


/* Div9 */

.cadre
{   
	width: 50% ;
	margin-left: 35%;
	border-top: solid ;
	border-bottom: solid ;
	border-left: solid ;
	border-right: solid ;
	border-color: white ;
}

.bouton
{
    height: 50px;
	border: 1px solid black;
    border-radius: 2px;
    font-size: 1.0em;
    text-align: center;
	padding: 3px 18px 3px 18px;
    color: white ;
	background-color: blue ;
	text-decoration: none;
}

/* Div11 */

#div11
{
	color: white;
	font-weight: bold;
	background-color: black;
	text-align: center ;
}

.cadre1
{   
	width: 50% ;
	margin-left: 5%;
	border-top: solid ;
	border-bottom: solid ;
	border-left: solid ;
	border-right: solid ;
	border-color: white ;
}

/* PAGE PARFUM DIOR J'ADORE */

.bouton1
{
    height: 50px;
	border: 1px solid black;
    border-radius: 2px;
    font-size: 1.0em;
    text-align: center;
	padding: 3px 18px 3px 18px;
    color: white ;
	background-color: orange ;
	text-decoration: none;
}

/* PAGE ROUGE A LEVRES CHANEL */

.bouton2
{
    height: 50px;
	border: 1px solid black;
    border-radius: 2px;
    font-size: 1.0em;
    text-align: center;
	padding: 3px 18px 3px 18px;
    color: white ;
	background-color: red ;
	text-decoration: none;
}

/* PAGE GLOSS FENETY BEAUTY */

.bouton3
{
    height: 50px;
	border: 1px solid black;
    border-radius: 2px;
    font-size: 1.0em;
    text-align: center;
	padding: 3px 18px 3px 18px;
    color: white ;
	background-color: pink ;
	text-decoration: none;
}

/* PAGE FOND DE TEINT LAANCOME & CRAYON A SOURCILS & MASCARA */

.bouton4
{
    height: 50px;
	border: 1px solid black;
    border-radius: 2px;
    font-size: 1.0em;
    text-align: center;
	padding: 3px 18px 3px 18px;
    color: white ;
	background-color: #DEB887 ;
	text-decoration: none;
}

.bouton5
{
    height: 50px;
	border: 1px solid black;
    border-radius: 2px;
    font-size: 1.0em;
    text-align: center;
	padding: 3px 18px 3px 18px;
    color: white ;
	background-color:  #D8BFD8 ;
	text-decoration: none;
}
